
html, body {
	font-family: "Perspective Sans", sans-serif;
	font-size: 12pt;
	background: #F0F0F0;
}

h1 {
	font-size: 15pt;
	display: block;
	text-align: center;
}

div#main {
	margin: auto;
	padding: 20px;
	width: 800px;
	background: #F9F9F9;

	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

div.quadrant {
	float: left;
	margin: 13px;
	padding: 10px;
	width: 350px;
	height: 350px;
	background: #DDEEFF;
	border: 2px solid #B9B9B9;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	/*
	overflow-y: auto;
	*/
	overflow-x: hidden;
}

div.quadrant h2 {
	text-align: center;
	font-size: 12pt;
	text-decoration: none;
	margin: 5pt;
	margin-bottom: 7pt;
}

div.quadrant ul {
	padding: 0pt;
	margin: 0pt;
	list-style: none;
}

li.card {
	padding: 6px;
	margin: 5pt 0pt;
	background-color: #ffffff;
	border: 1px solid #B9B9B9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	z-index: 999;
	
	/* For dragging */
	min-width: 320px;
	list-style: none;
}

li.card a,
li.card a:VISITED,
li.card a:HOVER
{
	text-decoration: underline;
	color: #333;
}

li.card span.due {
	display: block;
	font-size: 7pt;
	text-align: right;
}

div#urgent-important {
	background: #FF6666;
}

div#urgent {
	background: #FFFF99;
}

div#important {
	background: #CCEEFF;
}

div.drop-active {
	background: #ffcccc !important;
}

div.drop-hover {
	background: #FFFFFF !important;
}

div.clear {
	clear: both;
}
