
html, body {
	font-family: "Perspective Sans", sans-serif;
	font-size: 12pt;
	background: #F0F0F0;
}

h1 {
	font-size: 15pt;
	display: block;
	text-align: center;
}

a#about-container-trigger {
	/* display: block; */
	width: 100px;
	position: absolute;
	top: 90px;
	right: 0px;
	
	z-index: 2;

	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	padding: 20px 10px 17px 45px;
	font-weight: 700;
	background:#ffffff url(../images/plus.png) 15% 50% no-repeat;
	border: 2px solid #B9B9B9;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
}

a#about-container-trigger:hover {
	background:#eeeeee url(../images/plus.png) 15% 50% no-repeat;
}

a#about-container-trigger.active {
	background:#ffffff url(../images/minus.png) 15% 50% no-repeat;
}

div#about-container {
	display: none;
	width: 600px;
	position: absolute;
	right: 0px;
	top: 70px;
	
	padding: 10px 160px 10px 10px;
	background: #ffffff;
	
	filter: alpha(opacity=90);
	opacity: .9;
	
	border: 2px solid #B9B9B9;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	z-index: 1;
}

div#about-container div {
	background: #ffffff;
}

div#about-container h2 {
	font-size: 12pt;
	background: #ffffff;
}

div#about-container span {
	/* display: none; */
	/* margin: 5px; */
	text-align: justify;
}

div#main {
	margin: auto;
	padding: 20px;
	width: 800px;
	background: #F9F9F9;

	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

div.quadrant {
	float: left;
	margin: 13px;
	padding: 0px;
	width: 370px;
	height: 350px;
	background: #FAFAFF;
	border: 2px solid #B9B9B9;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	/*
	overflow-y: auto;
	*/
	overflow-x: hidden;
}

div.quadrant div.header {
	position: relative;
	text-align: center;
	margin: 0pt;
	padding: 2pt;
	background-color: #fff;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
}

div.quadrant div.header h2 {
	display: inline;
	text-align: center;
	font-size: 12pt;
	text-decoration: none;
	margin: 0pt;
	padding: 0pt;
}

div.quadrant div.header button {
	position: absolute;
	right: 7px;
}

div.quadrant ul {
	padding: 0pt;
	margin: 0pt;
	list-style: none;
}

li.card {
	padding: 6px;
	margin: 3pt 2pt;
	background-color: #ffffff;
	border: 1px solid #B9B9B9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	z-index: 999;
	
	/* For dragging */
	min-width: 320px;
	list-style: none;
}

li.card a,
li.card a:VISITED,
li.card a:HOVER
{
	text-decoration: underline;
	color: #333;
}

li.card span.due {
	display: block;
	font-size: 7pt;
	text-align: right;
}

div#urgent-important {
	background: #FFD9D0;
}

div#urgent {
	background: #FFF3E3;
}

div#important {
	background: #F0F0FF;
}

div.drop-active {
	background: #ffcccc !important;
}

div.drop-hover {
	background: #FFFFFF !important;
}

div.clear {
	clear: both;
}
