@(message: String)

@main("efficientTodoList") {
    
    <div ng-app>
    
	    <div id="urgent-important" class="quadrant">
	    	<span>Urgent &amp; important</span>
	    	<li ng-repeat="task in uiTasks">
	    		{{task.name}}
	    	</li>
	    </div>

	    <div id="important" class="quadrant">
	    	<span>Important but not urgent</span>
	    </div>
	    <div class="clear"></div>

	    <div id="urgent" class="quadrant">
	    	<span>Urgent but not important</span>
	    </div>
	
	    <div id="not-urgent-not-important" class="quadrant">
	    	<span>Not urgent &amp; not important</span>
	    </div>
	    <div class="clear"></div>
 
	</div>
}